<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum</title>
    <link rel="icon" type="image/x-icon" href="/front-end/images/fav.ico" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
</head>

<body>
    <div id="app"></div>
    <script defer type="module" src="/front-end/scripts/index.js"></script>
    <script defer type="module" src="/front-end/scripts/script.js"></script>
    <script defer src="/front-end/scripts/log_reg.js"></script>
    <script defer type="module" src="/front-end/scripts/header.js"></script>
    <script src="/front-end/scripts/convenience.js"></script>
    <script defer src="/front-end/scripts/dm.js"></script>
</body>

</html>