<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" href="/front-end/styles/style.css">
</head>
<body>

    {{template "auth"}}

    <!-- Main Forum Section -->
    {{ template "nav"}}
    <div id="forum-container" >
        


        <!-- Create Post Section -->
        {{ template "post" }}

        <button onclick="viewPosts(event)"class="view-comments" id="postSeeMore">See azer More</button>

        <!-- Comments Section (Visible when clicking on a post) -->
    </div>
    {{ template "comments" }}

    <!-- Private Messages Section -->
    {{ template "private-messages" }}
    
    <script src="/front-end/scripts/script.js"></script>
</body>
</html>