{{ define "private-messages"}}
<div id="backdrop" class="show" onclick="event.target.id ==='backdrop' ? dms_ToggleShowSidebar(event): event.stopPropagation();">

    <div class="show" id="side-menu" aria-modal="true" role="dialog">
        <div class="side-menu-head">
            <h1 class="offcanvas-title" style="margin-bottom: 0;line-height: 5vh;">Messages</h1>
            <button onclick="dms_ToggleShowSidebar(event)" class="btn">{{ template "svg-two-bubble"
                }}</button>
        </div>
        <!-- TODO handle -->
        <select name="message" id="message-select" onchange="alert('talking to anew person '+this.value)">
            <option selected disabled hidden>users</option>
        </select>
        <ul id="discussion" class="discussion"></ul>

        <form class="input-group" onsubmit="event.preventDefault();sendDm(event)">
            <input type="text" class="form-control" placeholder="New Message..." aria-label="Message">
            <button class="btn btn-primary" type="submit">{{ template "svg-send"}}SEND</button>
        </form>
    </div>
</div>
{{ end }}