/* Root for commonly used properties */
:root {
    --main-bg-color: #333;
    --highlight-color: #f0a500;
    --input-border-color: #ccc;
    --container-bg-color: #505050;
    --btn-hover-bg-color: #f0a500;
}

/* Sliding form container */
#auth {
    margin-top: 100px; /* Space for the header */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
}

/* Sliding Form Styles */
#auth .container {
    position: relative;
    width: 400px;
    height: 815px;
    background: var(--container-bg-color);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#auth .btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: var(--main-bg-color);
    padding: 10px;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

#auth .input-wrapper input {
    width: 90%;
    padding-right: 12%; 
} 


#auth .input-wrapper .icon {
    cursor: pointer;
    position: absolute;
    right: -7px;
    top: 35%;
    transform: translateY(-50%);
    font-size: 24px;
}


#auth .btn button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
}

#auth .slider {
    position: absolute;
    top: 50px;
    left: 0;
    width: 50%;
    height: 5px;
    background: var(--highlight-color);
    transition: left 0.5s;
}

#auth .form-section {
    display: flex;
    width: 200%;
    transition: transform 0.5s ease-in-out;
}

#auth .login-box, #auth .register-box {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}

#logpassword , #regpasswrd , #password_comfirmation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    letter-spacing: 0.15ch;
}

#auth label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: large;
}

#auth input, #auth select {
    font-size:medium;
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
}

#auth button {
    width: 100%;
    padding: 10px;
    background: var(--main-bg-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

#auth button:hover {
    background: var(--btn-hover-bg-color);
}

#auth p {
    margin-top: 10px;
    text-align: center;
}

#auth p a {
    color: var(--main-bg-color);
    text-decoration: none;
    font-weight: bold;
}

#auth p a:hover {
    text-decoration: underline;
}
