/* Reset */


/* Sliding form container */
#auth {
    margin-top: 100px; /* Space for the header */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
}

/* Sliding Form Styles */
#auth .container {
    position: relative;
    width: 400px;
    height: 815px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

#auth .btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #333;
    padding: 10px;
}

#auth .btn button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.3s;
}



#auth .slider {
    position: absolute;
    top: 50px;
    left: 0;
    width: 50%;
    height: 5px;
    background: #f0a500;
    transition: left 0.5s;
}

#auth .form-section {
    display: flex;
    width: 200%;
    transition: transform 0.5s ease-in-out;
}

#auth .login-box, #auth .register-box {
    width: 50%;
    padding: 30px;
    box-sizing: border-box;
}

#auth label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#auth input , #auth select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#auth button {
    width: 100%;
    padding: 10px;
    background: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}
#auth button:hover {
    background: #f0a500;
}


#auth p {
    margin-top: 10px;
    text-align: center;
}

#auth p a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

#auth p a:hover {
    text-decoration: underline;
}
